* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  /* background-image: url(zara-stall.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #222831;
}
video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
#menu_bar_left {
  position: absolute;
  display: none;
  width: 25%;
  height: 10%;
  margin-top: 6%;
  margin-left: 1%;
  background-image: url(renk-gecis.jpg);
  opacity: 0.9;
  border-radius: 20px;
}
.categories ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 4vh;
}
#menu_bar_left ul li {
  list-style: none;
  font-size: small;
  margin-left: -2em;
}
.list_no_underline {
  /* ozel isim verilecek */
  list-style: none;
  font-family: "Rockwell", Rockwell, SERIF;
  text-shadow: 2px 2px 2px #eeee;
}
.list_no_underline li {
  margin-left: -1em;
  margin-bottom: 1vh;
}
#menu_bar_left ul li a {
  text-decoration: none;
  color: black;
}
#show_kadin_products {
  position: absolute;
  display: none;
  width: 25%;
  height: 50%;
  margin-top: 12%;
  margin-left: 1%;
  background-color: white;
  border-radius: 20px;
  overflow: auto;
  background-image: url(kadin-giyim.png);
}
#show_erkek_products {
  position: absolute;
  display: none;
  width: 25%;
  height: 50%;
  margin-top: 12%;
  margin-left: 1%;
  background-color: white;
  border-radius: 20px;
  overflow: auto;
  background-image: url(erkek-giyim.jpg);
}
#show_cocuk_products {
  position: absolute;
  display: none;
  width: 25%;
  height: 50%;
  margin-top: 12%;
  margin-left: 1%;
  background-color: white;
  border-radius: 20px;
  overflow: auto;
  background-image: url(cocuk-giyim.jpg);
}
#show_guzellik_products {
  position: absolute;
  display: none;
  width: 25%;
  height: 50%;
  margin-top: 12%;
  margin-left: 1%;
  background-color: white;
  border-radius: 20px;
  overflow: auto;
  background-image: url(guzellik-urunleri.jpg);
}
header {
  position: fixed;
  top: 0%;
  margin: 3vh;
  width: 90%;
}
.headers {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;

  /* background-color: blue; */

  background: transparent;
}
.header1 {
  display: flex;
  justify-content: flex-start;
}

.header1 i {
  margin-top: 1vh;
  margin-left: 2vh;
}

#header2 {
  display: flex;
  justify-content: flex-start;
  width: 40%;
}
#header2 p {
  font-size: 8vh;
  font-weight: bold;
  display: contents;
  justify-content: flex-start;
  color: black;
}
.header3 {
  width: 35%;
  display: flex;
  justify-content: space-evenly;
}
.header3 a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 3vh;
  margin-right: 4vh;
  margin-top: 2vh;
  text-shadow: 2px 2px 2px #000000;
}
#header2 p {
  text-shadow: 1px 1px 2px #eeee;
}
.long_main_page {
  width: 100%;
  height: 100%;
  /* background-color: green; */
}
